<p>
  <b>Nome:</b>
  <%=h @unidade.nome %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @unidade.empresa.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @unidade.endereco.logradouro %>
</p>


<%= link_to 'Edit', edit_empresa_unidade_path(@unidade) %> |
<%= link_to 'Back', edit_empresa_path %>
